<table>
  <tr>
    <%= link_to customer_path(current_customer.id) do %>
      <%= image_tag current_customer.get_profile_image, size:'90x90', class: "rounded-circle" %>
    <% end %>
    </tr>
  <tr>
    <th>ユーザー：</th>
    <th><%= customer.nickname %></th>
  </tr>
  <tr>
    <th>フォロー：</th>
    <th id="following_count_<%= customer.id %>">
      <%= customer.followings.count %>
    </th>
  </tr>
  <tr>
    <th>フォロワー：</th>
    <th id="follower_count_<%= customer.id %>">
      <%= customer.followers.count %>
    </th>
  </tr>
  <tr>
    <tr>
    <th>いいねされた数：</th>
    <th><%= favorites_count %></th>
  </tr>
  </tr>
</table>

<% if customer_signed_in? %>
  <div class="side-info">
    <div id="relationship_btn_<%= customer.id %>">
      <%= render "public/relationships/btn", customer: customer %>
    </div>
    
    <% if customer.email != "guest@example.com" %>
    <% if customer == current_customer %>
      <%= link_to edit_customer_path(current_customer.id), class: "btn btn-outline-secondary rounded-pill col-5" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% end %>
    <% end %>
  </div>
<% end %>
