<div class="container">
  <div class="row">

    <div class="col-sm-3">
      <table>
        <tr>
          <%= link_to customer_path(@customer.id) do %>
            <%= image_tag @customer.get_profile_image, size:'90x90', class: "rounded-circle mb-4" %>
          <% end %>
        </tr>
        <tr>
          <th>ユーザー：</th>
          <th><%= @customer.nickname %></th>
        </tr>
        <tr>
          <th>フォロー：</th>
          <th id="following_count_<%= @customer.id %>">
            <%= @customer.followings.count %>
          </th>
        </tr>
        <tr>
          <th>フォロワー：</th>
          <th id="follower_count_<%= @customer.id %>">
            <%= @customer.followers.count %>
          </th>
        <tr>
          <th>いいねされた数：</th>
          <th><%= @favorites_count %></th>
        </tr>
      </table>

      <div class="side-info my-4">
        <div id="relationship_btn_<%= @customer.id %>">
          <%= render "public/relationships/btn", customer: @customer %>
        </div>

        <% if @customer.email != "guest@example.com" %>
          <% if @customer == current_customer %>
            <%= link_to edit_customer_path(current_customer.id), class: "btn btn-outline-secondary rounded-pill col-6" do %>
              <i class="fas fa-user-cog fa-lg"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="col">
      <h5><%= @customer.nickname %> さんの投稿</h5>
      <%= link_to new_post_path do %>
        <span class="fa-stack fa-lg offset-10 mb-3">
          <i class="fas fa-circle fa-stack-2x", style="color: #4682b4"></i>
          <i class="far fa-regular fa-pen-to-square fa-stack-1x", style="color: #fff"></i>
        </span>
      <% end %>
      <%= render "public/posts/index", posts: @posts %>
    </div>

  </div>
</div>
