<div class="container">
  <div class="row">

    <div class="col-sm-8 offset-2">
      <%= form_with model: @post, url: posts_path do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="form-group mt-4">
          <%= f.label :spot_image, "画像" %><br>
          <%= f.file_field :spot_image, accept: "image/*" %><br>

          <%= f.label :address_spot, "住所" %><br>
          <%= f.text_field :address_spot, class:"col-9", placeholder: "千葉県流山市平和台1-1-1" %><br>

          <%= f.label :spot_name, "スポット" %><br>
          <%= f.text_field :spot_name, class:"col-9", placeholder: "流山市役所" %><br>

          <%= f.label :body, "本文" %><br>
          <%= f.text_area :body, class:"col-10", placeholder: "みんなに共有しよう！" %><br>

          <%= f.submit "投稿", class: "btn btn-outline-success offset-8 rounded-pill" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
