<div class="row">

  <div class="col-3 ml-3">
    <% if customer_signed_in? %>
      <%= render "public/customers/side-info-post", post: @post, favorites_count: @favorites_count %>
    <% end %>
  </div>

  <div class="col-8">
    <% if @post.spot_image.attached? %>
      <%= image_tag @post.spot_image, class: "w-50 rounded" %>
    <% else %>
      <%= image_tag 'spot', class: "w-50 rounded" %>
    <% end %>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="col-1">
            <%= link_to customer_path(@post.customer.id), class: 'nav-link text-dark' do %>
              <%= image_tag @post.customer.get_profile_image, size:'70x70', class: "rounded-circle" %>
            <% end %>
            <%= @post.customer.nickname %>
          </td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-map-location-dot"></i> <%= @post.address %><br>
            <i class="fa-regular fa-flag"></i> <%= @post.spot_name %>
            <% if current_customer.nickname != "ゲストユーザー" %>
              <% if @post.customer == current_customer %>
                <%= link_to "削除", post_path(@post), class: "btn btn-outline-danger btn-sm offset-2", method: :delete %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <i class="fa-regular fa-comment ml-3"></i> <%= @post.body %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @post.favorited_by?(current_customer) %>
              <%= link_to post_favorites_path(@post), class: 'nav-link text-danger', method: :delete do %>
                <i class="fa-solid fa-heart"></i> <%= @post.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(@post), class: 'nav-link text-dark', method: :post do %>
                <i class="fa-regular fa-heart"></i> <%= @post.favorites.count %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="offset-1">
      <p>コメント数 : <%= @post.post_comments.count %></p>
       <% @post.post_comments.each do |post_comment| %>
       <table class="table table-borderless">
         <tr  class="shadow-sm bg-light">
          <td class="col-1">
            <%= link_to customer_path(post_comment.customer.id), class: 'nav-link text-dark' do %>
              <%= image_tag post_comment.customer.get_profile_image, size:'45x45', class: "rounded-circle" %>
            <% end %>
          </td>
          <td>
            <i class="fa-solid fa-user"></i> <%= post_comment.customer.nickname %><br>
            <i class="fa-regular fa-comments"></i> <%= post_comment.comment %>
          </td>
        </tr>
      </table>
      <% end %>

      <%= form_with model: [@post, @comment] do |f| %>
      <div class="form-group">
        <%= f.label :comment, "コメント" %><br>
        <%= f.text_area :comment, class:"col-9", placeholder: "思いを伝えよう！" %><br>

        <%= f.submit "送信", class: "btn btn-outline-success offset-8 rounded-pill" %>
      </div>
      <% end %>
    </div>
  </div>

</div>
