<div class="container">
  <div class="row">
    <%= image_tag'log.jpg', class: "mx-auto d-block w-25 rounded-circle" %>
  </div>

  <h1 class="text-center mt-4">About us</h1>
  <p class="text-center">
    「都心から一番近い森のまち」のキャッチフレーズで若い世代に人気の流山市<br>
    人口増加に伴ってたくさんのお店や施設も増えています<br>
    活気ある地元をより盛り上げたい気持ちから Sanpo@Nagareyama は作られました！
  </p>

  <div class="row">
    <div class="card-deck">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">投稿を見る</h3>
          <p class="card-text">会員登録せずにみんなの投稿を閲覧することができます<br>お気に入りのスポットを探してみましょう</p>
          <%= link_to "投稿一覧", root_path, class: "btn", style: "background-color: #F172A3; color: #fff;" %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">ログイン</h3>
          <p class="card-text">ログインすることで投稿やブックマークができるようになります<br>おすすめスポットをみんなにも共有してみましょう</p>
          <%= link_to "ログイン", new_customer_session_path, class: "btn", style: "background-color: #00A4AC; color: #fff;" %>
        </div>
      </div>
      <div class="card ">
        <div class="card-body">
          <h3 class="card-title">新規会員登録</h3>
          <p class="card-text">初めての方はこちらから会員登録してください<br>素敵な投稿を見つけたらブックマークしてみましょう</p>
          <%= link_to "新規登録", new_customer_registration_path, class: "btn", style: "background-color: #00B379; color:#fff;" %>
        </div>
      </div>

    </div>
  </div>

  <div class="card-deck mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">流山フォト</h3>
        <p class="card-text">流山市の魅力が詰まった写真です<br>ぜひ確認してみてください</p>
        <div class="btn", style="background-color: #ba55d3;"><a class="text-light" href="#verse1">フォトビュー</a></div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">マップで調べる</h3>
        <p class="card-text"><i class="fa-solid fa-circle-exclamation"></i> 現在閉鎖中です</p>
        <div class="btn", style="background-color: #ff8c00;"><a class="text-light" href="#verse2">流山マップ</a></div>
      </div>
    </div>
  </div>

  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example">

    <div class="row my-5">
      <h4 id="verse1"><i class="fa-regular fa-images"></i> フォトビュー</h4>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <%= image_tag"about1.jpg", class: "mx-auto d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag"about2.jpg", class: "mx-auto d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag"about3.jpg", class: "mx-auto d-block w-100" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>

</div>
