<div class="container">
  <div class="row">

    <div class="col-sm-8 offset-sm-2">
      <h4>ユーザー情報編集</h4>

      <%= form_with model: @customer, url: admin_customer_path, local:true do |f| %>
      <%= render "layouts/error_messages", model: f.object %>

        <div class="form-group mt-5">
          <%= f.label :profile_image, "アイコン", class: "col-sm-3" %>
          <%= f.file_field :profile_image, class: "offset-sm-1", accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :nickname, "ユーザー名", class: "col-sm-3" %>
          <%= f.text_field :nickname, class: "col-sm-5 offset-sm-1" %>
        </div>

        <div class="form-group">
          <%= f.submit "編集内容を保存", class: "btn btn-outline-primary offset-sm-5 mt-4" %>
          <%= link_to "退会", admin_customer_path(@customer), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger offset-1 mt-4" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
