<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h4>会員一覧</h4>

      <table class="table table-hover table-inverse">
        <thaed>
          <tr>
            <th>会員ID</th>
            <th>アイコン</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th></th>
          </tr>
        </thaed>
        <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <th><%= customer.id %></td>
          <td>
            <%= link_to admin_customer_path(customer) do %>
              <%= image_tag customer.get_profile_image, size:'60x60', class: "rounded-circle" %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_customer_path(customer), class: "text-dark" do %>
              <%= customer.nickname %>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td><%= link_to "編集", edit_admin_customer_path(customer), class: "btn btn-outline-secondary rounded-pill" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
</div>