<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h4>会員一覧</h4>

      <table class="table table-hover table-inverse">
        <thaed>
          <tr>
            <th>会員ID</th>
            <th>アイコン</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thaed>
        <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <th scope="row"><%= customer.id %></td>
          <td class="col-1">
            <%= link_to admin_customer_path(customer) do %>
              <%= image_tag customer.get_profile_image, size:'70x70', class: "rounded-circle" %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_customer_path(customer) do %>
              <%= customer.nickname %>
            <% end %>
          </td>
          <td><%= customer.email %></td>

          <% if customer.is_deleted == "false" %>
            <td>退会</td>
          <% else customer.is_deleted == "true" %>
            <td>有効</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
</div>