<p>コメント数 : <%= post.post_comments.count %></p>
<% post.post_comments.each do |post_comment| %>
  <table class="table table-borderless">
    <tr  class="shadow-sm bg-light">
    <td class="col-1">
      <%= link_to customer_path(post_comment.customer.id), class: "text-dark" do %>
        <%= image_tag post_comment.customer.get_profile_image, size:'45x45', class: "rounded-circle" %>
      <% end %>
    </td>
    <td>
      <i class="fa-solid fa-user"></i> <%= post_comment.customer.nickname %><br>
      <p><i class="fa-regular fa-comments"></i> <%= post_comment.comment %></p>
    </td>
    <% if post_comment.customer == current_customer %> 
      <td><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: "btn btn-outline-danger btn-sm" %></td>
    <% end %>
  </tr>
</table>
<% end %>
