<header>
  <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/"><span>流山＠さんぽ</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <!--管理者ログインしたら？-->
        <% if  admin_signed_in? %>
          <li>
            <%= link_to admin_root_path, class: 'nav-link text-dark' do %>
              会員一覧
            <% end %>
          </li>
          <li>
            <%=  link_to admin_spots_path, class: 'nav-link text-dark' do %>
              スポット一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
              ログアウト
            <% end %>
          </li>
        <!--ログインしたら？-->
        <% elsif customer_signed_in? %>
          <li>
            <%= link_to customer_followings_path(current_customer.id), class: "nav-link text-dark" do %>
              フォロー
            <% end %>
          </li>
          <li>
            <%= link_to customer_followers_path(current_customer.id), class: "nav-link text-dark" do %>
              フォロワー
            <% end %>
          </li>
          <li>
            <%= link_to favorites_customer_path(current_customer.id), class: 'nav-link text-dark' do %>
              いいね
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
              ログアウト
            <% end %>
          </li>
          <li>
            <%= render "public/searches/form" %>
          </li>
          <li>
            <%= link_to customer_path(current_customer.id), class: 'nav-link text-dark' do %>
              <%= image_tag current_customer.get_profile_image, size:'50x50', class: "rounded-circle" %>
            <% end %>
          </li>
          <!--未ログイン-->
        <% else %>
          <li>
            <%= link_to about_path, class: 'nav-link text-dark' do %>
              About
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %>
              新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
               ログイン
            <% end %>
          </li>
          <li>
            <!--できない-->
            <%= link_to public_guest_sign_in_path, method: :post, class: 'nav-link text-dark' do %>
              ゲストログイン
            <% end %>
          </li>
          <li>
            <%= render "public/searches/form" %>
          </li>
        <% end %>
        </ul>
      </div>
  </nav>
</header>